//
//  Development.xcconfig
//  Manaprobe
//
//  Created by Vito Royeca on 9/16/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
INFOPLIST_KEY_CFBundleDisplayName = Manaprobe Dev
API_URL = dev-api.manaprobe.com
ENVIRONMENT = Development
