//
//  Production.xcconfig
//  Manaprobe
//
//  Created by Vito Royeca on 9/16/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
API_URL = api.manaprobe.com
ENVIRONMENT = Production
