//
//  QA.xcconfig
//  Manaprobe
//
//  Created by Vito Royeca on 9/16/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
INFOPLIST_KEY_CFBundleDisplayName = Manaprobe QA
API_URL = qa-api.manaprobe.com
APP_ENVIRONMENT = QA
ACTION_CODE_SETTINGS_URL = manaprobe-qa.firebaseapp.com
ACTION_CODE_SETTINGS_LINK_DOMAIN = manaprobe-qa.firebaseapp.com
